*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', sans-serif;

}
.font-color{
    color:#1E1E1E;
}
/***header selection*/
.header{
    background-color: #FFF8F3;
    background-image: url("./images/header_bg.png"),url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left ;
    padding: 0px 20px;


}

/***header selection*/
nav{
  
    padding: 45px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand{
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    color: #1E1E1E;
    font-weight: 800;
}
    
.brand span{
    
    
color: #FD6E0A;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style-type: none;
    margin-right: 20px;
}
ul li a{
    font-size: 16px ;
    color: #1E1E1E;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}
ul li .primry-btn{
    font-size: 16px;
   
    background-color: #FD6E0A;
    padding: 20px 25px;
    border: 0;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}
.banner{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 180px;
}
.banner .profile-pic{
    width: 584px;
    height: 676px;
    margin: auto;
}
.branding-content{
    align-items: center;
    font-size: 45px;
    font-weight: 600;
   
}
.branding-content h1{
    font-size: 85px;
    font-weight: 800;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.branding-content h3{
    align-items: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;

}
.branding-content p{
    width: 585px;
    font-size: 16px;
    color: #1E1E1E;
    font-weight: 600;
    margin-bottom: 10px;

}

.branding-btn{
    font-size: 16px;
   
    background-color: #FD6E0A;
    padding: 20px 25px;
    border: 0;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    transform: 3s all ease;
}
.branding-btn:hover{
    background-color: white;
    color: #FD6E0A;
    border: 3px solid #FD6E0A;

}

/**Main selection start**/
main{
    align-items: center;
    padding: 0px 200px;
}
.about-selection {
    margin: 100px 0px;
    
}
.abouttitle{
    padding: 100px 0px;
    background-color: #FFF8F3;
}
.about  h3{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.about p{
    width: 800px;
    text-align:center;
    font-size: 18px;
    color: #1E1E1E;
    line-height: 34px;
    margin: auto;
    

}
.about-card{
    margin: auto;
    width: 800px;
}
.about-card ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.about-card ul li{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #1E1E1E;
    font-weight: 400;
    list-style: 24px;
}
.about-card ul li p{
    font-size: 18px;
    color: #1E1E1E;
    font-weight: 800;
    list-style: 24px;
    text-align: center;
}


/**Main selection end **/