*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', sans-serif;

}
.font-color{
    color:#1E1E1E;
}
/***header selection*/
.header{
    background-color: #FFF8F3;
    background-image: url("./images/header_bg.png"),url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left ;
    padding: 0px 20px;


}

/***header selection*/
nav{
  
    padding: 45px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand{
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    color: #1E1E1E;
    font-weight: 800;
}
    
.brand span{
    
    
color: #FD6E0A;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style-type: none;
    margin-right: 20px;
}
ul li a{
    font-size: 16px ;
    color: #1E1E1E;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}
ul li .primry-btn{
    font-size: 16px;
   
    background-color: #FD6E0A;
    padding: 20px 25px;
    border: 0;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}
.banner{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 180px;
}
.banner .profile-pic{
    width: 584px;
    height: 676px;
    margin: auto;
}
.branding-content{
    align-items: center;
    font-size: 45px;
    font-weight: 600;
   
}
.branding-content h1{
    font-size: 85px;
    font-weight: 800;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.branding-content h3{
    align-items: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;

}
.branding-content p{
    width: 585px;
    font-size: 16px;
    color: #1E1E1E;
    font-weight: 600;
    margin-bottom: 10px;

}

.branding-btn{
    font-size: 16px;
   
    background-color: #FD6E0A;
    padding: 20px 25px;
    border: 0;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    transform: 3s all ease;
}
.branding-btn:hover{
    background-color: white;
    color: #FD6E0A;
    border: 3px solid #FD6E0A;

}

/**Main selection start**/
main{
    align-items: center;
    padding: 0px 200px;
}
.about-selection {
    margin: 100px 0px;
    
}
.abouttitle{
    padding: 100px 0px;
    background-color: #FFF8F3;
}
.about  h3{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.about p{
    width: 800px;
    text-align:center;
    font-size: 18px;
    color: #1E1E1E;
    line-height: 34px;
    margin: auto;
    

}
.about-card{
    margin: auto;
    width: 800px;
}
.about-card ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.about-card ul li{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #1E1E1E;
    font-weight: 400;
    list-style: 24px;
}
.about-card ul li p{
    font-size: 18px;
    color: #1E1E1E;
    font-weight: 800;
    list-style: 24px;
    text-align: center;
}
/*what do i do selection***/
.what-content{
    align-items: center;
    padding: 0px 200px;

}
.what-content h3{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.what-content p{
    width: 909px;
    text-align:center;
    font-size: 18px;
    color: #1E1E1E;
    line-height: 34px;
    margin: auto;

}
.whatContentcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    background-color: #FBFBFB;
    padding: 20px;
}
.cardBox{
    width: 250px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 12px 14px 15px 16px rgb(255, 253, 253);
    background-color: #FFFFFF;

  
}
.cardBox h4{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 15px;
}
.cardBox p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 15px;
    line-height: 26px;

}
/**summary-section selection**/
.summary-section{
    align-items: center;
  

}
.summery-title{
    margin: 100px 0px;
}
.summery-title h3{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.summer-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.card-summer{
    align-items: center;
}
.card-summer h4{
    font-size: 30px;
    text-align: left;
    margin: 20px 0px;
    font-weight: 600;
    color: #1E1E1E;
}
.card-summer ul{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 25px 25px 25px 0px;
}
.card-summer ul h5{
    font-size: 16px;
    text-align: left;
    margin: 10px 0px;
    font-weight: 600;
    color: #1E1E1E;

}

.card-summer ul p{
    width: 500px;
    font-size: 16px;
    text-align: left;
    margin: 10px 0px;
    font-weight: 400;
    color: #1E1E1E;
 

}
.card-summer ul hr{
    margin-top: 20px;
}
.btn-sumeer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.summery-btn{
    font-size: 16px;

    background-color: #FD6E0A;
    padding: 20px 25px;
    border: 0;
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    transform: 3s all ease;
  
}

/**Main selection end **/
/**footer selection start**/
.footer{
    align-items: center;
   padding: 100px 200px;
    background-color: #FFF8F3;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footercard{
    padding: 0;
    margin-top: -280px;

}
.footercard h4{
    
    font-size: 35px;
    text-align: left;
    margin: 10px 0px;
    font-weight: 800;
    color: #1E1E1E;
}
.footercard p{
    width: 562px;
    font-size: 16px;
    text-align: left;
    margin: 10px 0px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 36px;

}
.footercard ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;

}
.footercard ul li{
    padding: 0;
    margin: 0px  15px;
}
.footercarder h4{
    font-size: 35px;
    text-align: left;
    margin: 10px 0px;
    font-weight: 800;
    color: #1E1E1E;
}
.footercarder form input{
    margin-bottom: 20px;
    border: 0;
    width: 460px;
    height: 60px;
    font-size: 16px;
    text-align: left;
    margin: 10px 0px;
    font-weight: 400;
    color: #1E1E1E;
    line-height: 36px;
   padding-left: 25px;
   border-radius: 5px;
}
.footercarder form textarea{
    border: 0;
    width: 460px;
    height: 180px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    color: #1E1E1E;
   border-radius: 5px;

}
/**footer selection end**/